# Documentation/Markdown
docs/
**/*.md
LICENSE

# Docker
.dockerignore
*.Dockerfile
Dockerfile

# Git
.git/
.gitignore
.pre-commit-config.yaml

# Python
__pycache__/
.pytest_cache/
.venv/

# Tests & Local development
.coverage
.env
local/
tests/

# IDEs and editors
.vscode/

# Misc
.DS_Store
.envrc
