# CI/CD
.github/

# Documentation
docs/
*.md
LICENSE

# Docker
Dockerfile
.dockerignore

# IDEs and editors
.vscode/

# Python
__pycache__/
.pytest_cache/
.coverage
.ruff_cache/

# Tests & Local development
.env
venv/
.venv/
tests/

# Version control
.git/
.gitignore
.pre-commit-config.yaml

# Misc
.DS_Store
.envrc
