
# This file is run every time you enter this directory as part of direnv
# Ensure a virtual env is created and is up to date with lock file
if [ -d .venv ]; then
  uv sync
else
  uv venv .venv
  uv sync
fi
# Set up pre-commit hooks
uv run pre-commit install
